
.dices{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.headings{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.credits{
    column-count: 5;
    column-fill: balance;
}

.text-center{
    text-align: center;
}

.dices-computer-player{
    column-count: 2;
}

.dices-player{
    column-count: 2;
}

.message{
    column-count: 3;
    column-fill: balance;
}

.message-box{
    border: 1px solid white;
}

.controls{
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}

.dice{
    font-size: 64pt;
}

button{
    width: 100%;
    color: black;
}
body{
    background-image: url(/img/really_cool_landscape_wallpaper_4k_hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    color: white;
}